.container-web{
  
  display: flex;
  flex-direction: column;
  align-items: center;

}


.form {
  display: flex;
  
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies{
  margin-top: 40px;
  padding: 0;

  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
  
}
.movies h3, .movies p {
  position: absolute;
  margin: 0;
}
.movies  li{
  
  position: relative;
}
.movies li h3{
left: 10px;
right: 10px;
  bottom: 40px;
}

.movies img {
  margin: 1px 0;
  border-radius: 8px;
  width: 220px;
  height: 309px;
}

.movies li:hover{
  transform: scale(1.05);
  cursor: pointer;
}